<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/vant/vant.css">
        <link rel="shortcut icon" href="#"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <style>
            body {
                background: #DCDFE6;
            }

            .row {
                display: block;
                background: #ffffff;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                position: relative;
                border-bottom: 1px solid #DCDFE6;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div>
                <van-nav-bar title="我的某月" left-arrow @click-left="back"/>
            </div>

            <van-cell-group>
                <van-field
                        readonly
                        clickable
                        label="时间"
                        :value="value"
                        placeholder="选择时间"
                        @click="showPicker = true"
                />
            </van-cell-group>

            <van-popup v-model="showPicker" position="bottom">
                <van-picker
                        show-toolbar
                        :columns="columns"
                        @cancel="showPicker = false"
                        @confirm="confirm"
                />
            </van-popup>

            <div style="margin-top: 15px">
                <van-list v-model="loading" :finished="finished" finished-text="没有更多了">
                    <van-cell v-for="item in list" :key="item" :title="item">
                    </van-cell>
                </van-list>
            </div>
        </div>
    </body>

    <script src="../../js/vant/vant-vue.js"></script>
    <script src="../../js/vant/vant.js"></script>
    <script src="../../js/axios.js"></script>
    <script>
        let scope;
        new Vue({
            el: '#app',
            data() {
                return {
                    columns: ['1月', '2月', '3月', '4月',
                        '5月', '6月', '7月', '8月',
                        '9月', '10月', '11月', '12月'],
                    showPicker: false,// 弹出层展示条件
                    list: [],
                    value: '',
                    chooseValue: '',
                    loading: false,
                    finished: true,
                }
            },
            created() {
                scope = this;
                // 获取当前登录用户信息
                scope.userInfo = JSON.parse(localStorage.getItem("userInfo"));
            },
            methods: {
                /// 返回
                back() {
                    location.href = "../../index.html"
                },

                // 初始化
                init() {
                    scope.loading = true;
                    scope.finished = false;
                    axios.post("/aunt/calc/auntFixMonth", {
                        userId: scope.userInfo.id,
                        fixMonth: scope.chooseValue,
                    }).then(function (res) {
                        if (res.data.code === 200) {
                            scope.list = res.data.data;
                            scope.loading = false;
                            scope.finished = true;
                        } else {
                            // 查询失败，弹出错误提示
                            vant.Notify({type: 'danger', message: res.data.msg, duration: 1000})
                        }
                    })
                },
                confirm(value) {
                    scope.showPicker = false;
                    scope.value = value;
                    if (value.length < 3) {
                        scope.chooseValue = "0" + value;
                    } else {
                        scope.chooseValue = value;
                    }
                    scope.init();
                },
            }
        })
    </script>
</html>