<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/vant/vant.css">
        <link rel="shortcut icon" href="#"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <style>
            body {
                background: #DCDFE6;
            }

            .row {
                display: block;
                background: #ffffff;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                position: relative;
                border-bottom: 1px solid #DCDFE6;
            }

            .right {
                position: absolute;
                right: 5vw;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div>
                <van-nav-bar title="修改密码" left-arrow @click-left="back"/>
            </div>
            <div style="margin-top: 15px">
                <form>
                    <van-cell-group>
                        <van-field
                                v-model="userInfo.oldPassword"
                                label="原密码"
                                placeholder="请输入原密码"
                                type="password"
                                required
                                clearable
                                :label-width="100"
                        />
                    </van-cell-group>

                    <van-cell-group>
                        <van-field
                                v-model="userInfo.password"
                                label="新密码"
                                placeholder="请输入新密码"
                                type="password"
                                required
                                clearable
                                :label-width="100"
                        />
                    </van-cell-group>

                    <van-cell-group>
                        <van-field
                                v-model="userInfo.checkPassword"
                                label="确认密码"
                                placeholder="请确认密码"
                                type="password"
                                required
                                clearable
                                :label-width="100"
                        />
                    </van-cell-group>
                </form>
            </div>

            <div style="margin-top: 15px">
                <van-button style="width: 100%" type="info" @click="changePassword">修改密码</van-button>
            </div>
        </div>
    </body>

    <script src="../../js/vant/vant-vue.js"></script>
    <script src="../../js/vant/vant.js"></script>
    <script src="../../js/axios.js"></script>
    <script>
        let scope;
        new Vue({
            el: '#app',
            data() {
                return {
                    userInfo: {}
                }
            },
            created() {
                scope = this;
                // 获取当前登录用户信息
                scope.userInfo = JSON.parse(localStorage.getItem("userInfo"));
            },
            methods: {
                /// 返回
                back() {
                    location.href = "../../index.html"
                },
                // 修改密码
                changePassword() {
                    if (scope.userInfo.password != scope.userInfo.checkPassword) {
                        vant.Notify({type: 'danger', message: '两次密码不一致', duration: 1000})
                        return;
                    }

                    let changePassword = {
                        id: scope.userInfo.id,
                        oldPassword: scope.userInfo.oldPassword,
                        password: scope.userInfo.password
                    }
                    axios.post("/user/calc/changePassword", changePassword).then(function (res) {
                        if (res.data.code == '200') {

                            // 保存登录用户信息，用于下次登录
                            localStorage.setItem("loginUser", JSON.stringify(scope.userInfo))
                        } else {
                            vant.Notify({type: 'danger', message: res.data.msg, duration: 1000})
                        }
                    })
                }
            }
        })
    </script>
</html>