<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <link rel="shortcut icon" href="#"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <style>
            body{
                background: #DCDFE6;
            }

            .row{
                display: block;
                background: #ffffff;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                position: relative;
                border-bottom:1px solid #DCDFE6 ;
            }

            .icon{
                position: absolute;
                right: 5vw;top:1.5vh;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div> <van-nav-bar title="首页"/></div>
            <div style="margin-top: 15px" v-if="isIndex">
                <van-row>
                    <van-col span="24">
                        <div class="row" @click="changeIndex(1)">
                            <span>姨妈记录</span>
                            <i class="el-icon-arrow-right icon"></i>
                        </div>
                    </van-col>

                    <van-col span="24">
                        <div class="row"  @click="changeIndex(2)">
                            <span>姨妈间隔</span>
                            <i class="el-icon-arrow-right icon"></i>
                        </div>
                    </van-col>

                    <van-col span="24" @click="changeIndex(3)">
                        <div class="row" >
                            <span>姨妈分析</span>
                            <i class="el-icon-arrow-right icon"></i>
                        </div>
                    </van-col>

                    <van-col span="24" @click="changeIndex(4)">
                        <div class="row" >
                            <span>图表分析</span>
                            <i class="el-icon-arrow-right icon"  ></i>
                        </div>
                    </van-col>

                    <van-col span="24" @click="changeIndex(5)">
                        <div class="row" >
                            <span>危险期日历</span>
                            <i class="el-icon-arrow-right icon"  ></i>
                        </div>
                    </van-col>
                </van-row>
            </div>
            <div >
                <van-tabbar v-model="active" active-color="#30A3F8">
                    <van-tabbar-item icon="wap-home-o" :key="0">首页</van-tabbar-item>
                    <van-tabbar-item icon="user-o" :key="1">我的</van-tabbar-item>
                </van-tabbar>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    active:0,
                    isIndex :true,
                    index:1
                }
            },
            created() {
            },
            methods: {
                changeIndex(index){
                    console.log(index)
                }
            }
        })
    </script>
</html>